<div id="container">
  <!-- See Budget Box -->
  <div id="wrapper">
    <!-- See Budget Form -->
    <div id="see-budget">
      <div id="back">
        <a routerLink="/home" class="back">Go Back</a>
        <br>
      </div>
      <form>
        <h1>Budget</h1>
        <div  *ngIf="(allBudgets | json) === '{}'" class="no-budget">
          <div id="new">
            <h4>To get started, please add your starting budget</h4>
            <button routerLink="/budget/new" class="btn btn-primary">Add Starting Budget</button>
          </div><!--/ new-->
        </div><!--/ no-budget-->
        <div *ngIf="(allBudgets | json) != '{}'">
        <table>
          <tr>
            <th>Start of the Month:</th>
            <td id="budget-start">${{allBudgets.starting_budget}}</td>
          </tr>
          <tr>
            <th>Spent to Date:</th>
            <td id="total-spent">${{allBudgets.amount_spent}}</td>
          </tr>
          <tr>
            <th>Remaining:</th>
            <td id="budget-remaining">${{allBudgets.remaining_budget}}</td>
          </tr>
        </table>
        <br>
          <div id="modify">
            <button routerLink="/budget/modify/{{allBudgets.id}}" class="btn btn-primary">Modify Starting Budget</button>
          </div><!--/ modify-->
        </div><!--/ has-budget-->
      </form>
    </div><!--/ see-budget-->
  </div><!--/ wrapper-->
</div><!--/ container-->
