<div id="container">
  <!-- Create Expense Box -->
  <div id="wrapper">
    <!-- Create Expense Form -->
    <div id="add-expense">
      <div id="back">
        <a (click)="removeMessage()" routerLink="/expenses" class="back">Go Back</a>
        <br>
      </div>
        <form (ngSubmit)="saveExpense(newExpense)" ngNativeValidate>
          <div *ngIf="expensesService.createExpenseFailure" class="failure">
            <h5>Sorry, this expense could not be added.</h5>
          </div>
          <h1>New Expense</h1>
          <label for="description">Expense Description:</label>
          <input name="description" [(ngModel)]="newExpense.description" id="new-description" placeholder="e.g. 'groceries, Hulu, etc." size="40" required/><br>
          <label for="amount">Amount: $</label>
          <input name="amount" [(ngModel)]="newExpense.amount" id="new-amount" size="10" maxlength="7" placeholder="e.g. 100" (keypress)="_keyPress($event)" required/><br>
          <label for="payment_date">Payment Date:</label>
          <input type="number" min="1" max="31" name="payment_date" [(ngModel)]="newExpense.payment_date" id="new-payment" maxlength="2" placeholder="DD" required/><br>
          <p class="recurring">
            <input type="checkbox" name="recurring" id="new-recurring" [(ngModel)]="newExpense.recurring" />
            <label for="recurring">Recurring monthly expense</label>
          </p>
          <p class="submit button">
            <input type="submit" value="Add"/>
          </p>
        </form>
      </div><!--/ create-expense-->
    </div><!--/ wrapper-->
  </div><!--/ container-->
