<div id="container">
  <!-- Add Budget Box -->
  <div id="wrapper">
    <!-- Add Budget Form -->
    <div id="add-budget">
      <div id="back">
        <a (click)="removeMessage()" routerLink="/budget" class="back">Go Back</a>
        <br>
      </div>
      <form (ngSubmit)="saveBudget(newBudget)" ngNativeValidate>
        <div *ngIf="budgetService.addBudgetFailure" class="failure">
          <h5>Sorry, your starting budget could not be added.</h5>
        </div>
        <h1>Budget</h1>
        <label for="starting_budget">What is your starting budget for this month?</label><br>
        <label>$</label>
        <input name="starting_budget" id="starting-budget" [(ngModel)]="newBudget.starting_budget" size="10" maxlength="7" placeholder="e.g. 2000"  (keypress)="_keyPress($event)" required/><br>
        <p class="submit button">
          <input type="submit" value="Submit"/>
        </p>
      </form>
    </div><!--/ modify-budget-->
  </div><!--/ wrapper-->
</div><!--/ container-->
