<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand"><span class="glyphicon glyphicon-piggy-bank"></span>Amaounda's Wallet
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Menu Options</span>
        <span class="icon-bar">&nbsp;</span>
        <span class="icon-bar">&nbsp;</span>
        <span class="icon-bar">&nbsp;</span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-left">
        <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a class="nav-link" routerLink="/home">Home</a></li>
        <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a class="nav-link">My Budget</a></li>
        <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a class="nav-link" routerLink="/expenses">My Expenses</a></li>
        <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a class="nav-link" routerLink="/auth/change-password">Change Password</a></li>
        <li><a><input class="btn-warning" (click)="signOut()" type="submit" value="Log Out"/></a></li>
      </ul>
    </div>
  </div>
</nav>
<div style="text-align:center">
  <h3 *ngIf="auth.loggedIn == false">Welcome to your budgeting app Amaounda! Why don't you register or sign in so you can get to saving?</h3>
</div>
<div *ngIf="auth.signOutFailure" class="failure">
  <h5>There was an error signing out.</h5>
</div>
<main>
  <router-outlet></router-outlet>
</main>
