<div id="container">
  <!-- Modify Budget Box -->
  <div id="wrapper">
    <!-- Modify Budget Form -->
    <div id="modify-budget">
      <div id="back">
        <a routerLink="/budget" class="back">Go Back</a>
        <br>
      </div>
      <form (ngSubmit)="updateBudget(updatedBudget)" ngNativeValidate>
        <div *ngIf="budgetService.updateBudgetFailure" class="failure">
          <h5>Sorry, your starting budget could not be added.</h5>
        </div>
        <h1>Budget</h1>
        <label for="starting_budget">What is your starting budget for this month?</label><br>
        <label>$</label>
        <input name="starting_budget" id="updated-starting-budget" [(ngModel)]="updatedBudget.starting_budget" size="10" maxlength="7" placeholder="e.g. 2000" (keypress)="_keyPress($event)" required/><br>
        <p class="submit button">
          <input type="submit" value="Submit"/>
        </p>
      </form>
    </div><!--/ modify-budget-->
  </div><!--/ wrapper-->
</div><!--/ container-->
