<div id="wrapper">
  <h1 id="welcome-msg"></h1>
  <div id="home-table">
    <div class="item">
      <h3>
        Your Dashboard
      </h3>
      <ul>
        <li id="budget-msg">Go to Budget:</li>
        <a routerLink="/budget">
        <span class="glyphicon glyphicon glyphicon-usd"></span></a>
        <li id="bill-msg">Go to Expenses:</li>
        <a routerLink="/expenses">
        <span class="glyphicon glyphicon glyphicon-barcode"></span></a>
      </ul>
    </div>
    <br>
  </div><!--home-table-->
</div><!--wrapper-->
<router-outlet></router-outlet>
